body{
    background-color:  #008000;
}

.form-register{
    width: 400px;
    background-color: #5a9110;
    padding: 30px;
    margin: auto;
    margin-top: 200px;
    border-radius: 4px;
}

.controls{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;

}

#lienzo{
    background-image: url('../media/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 5px 1px black;
}

.menu{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.titulo{
    background-color: #18b60a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-right: 1em;
    margin-left: 1em;
}

#animales-imagenes{
    margin-bottom: 3em;
    margin-top: 2em;
    background-color: #18b60a;
    border-radius: 10px;
}

#animales-imagenes img{
    opacity: 0.8;
    margin-left: 3em;
    margin-right: 3em;
    transition: all .3s ease;
}

#animales-imagenes img:hover{
    transform: scale(1.20);
    opacity: 10;
}

#habitat-imagenes{
    display: flex;
    align-content: center;
}

#habitat-imagenes div{
    border-radius: 10px;
    width: 18em;
    height: 18em;
    background-size: 300px;
    background-position-y: 0em;
    border-radius: 10px;
    margin-left: 2em;
}



#habitad1,
#habitad2,
#habitad3{
    background-color: rgb(255, 255, 255);
    border-style:ridge;
    border-color: #c5e60b;
}

#habitad1 img,
#habitad2 img,
#habitad3 img{
    position: relative;
    top: 2em;
    left: 2em;
}



#habitad1txt,
#habitad2txt,
#habitad3txt{
    visibility: hidden;
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin-left: 3em;
    margin-right: 4em;
    font-size: 2em;
    margin-top: -1.5em;
}


.board section canvas{
    margin: 1em 6em 1em 6em;
    border-radius: 10px;
}


#FF{
    background-image: url("../media/Fond.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 #DivMarco{
     border: 10px solid gold ;
     border-radius: 20px; 
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 #gratz{
     margin-top: 1.9em;
     font-family: cursive;
     font-size: 5em;
 }
 
 #nom{
     font-family: cursive;
     font-size: 6em;
 }
 
 #Mensaje{
     font-family: cursive;
     font-size: 50px;
 }
 
.botones{
    margin: 1em 1em;
}



 #bot1{
    color: white;
    font-size: 1.2em;
    margin-right: 2em;
 }

 #bot2{
    color: white;
    font-size: 1.2em;
    margin-right: 2em;
}

