body{
    background: rgb(90,145,16);
    background: linear-gradient(96deg, rgba(90,145,16,1) 9%, rgba(10,71,10,1) 76%);
}

div{
    color: white;
    text-align: center;
    position: absolute;
    margin-top: 180px;
    margin-left: 360px;
    
}

img{
    position: absolute;
    width: 200px;
}

.uno{
    margin-top: 420px;
}

.dos{
    margin-top: 440px;
    margin-left: 1100px;
}

.tres{
    margin-left: 1150px;
}

.cuatro{
    margin-left: 630px;
    width: 150px;
}

.cinco{
    margin-top: 250px;
    margin-left: 250px;
}


/* #FC{
    background-repeat: no-repeat;
    background-size: cover;
 }

#DivMarco{
    border: 10px solid black ;
    border-radius: 20px; 
}

#uni{
    top: 10%;
    left: 27%;
    position:absolute;
    font-family: cursive;
    font-size: 30px;
}

#carr{
    top: 15%;
    left: 32%;
    position:absolute;
    font-family: cursive;
    font-size: 30px;
}

#gys{
    top: 20%;
    left: 40%;
    position:absolute;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
}

#inte{
    top: 40%;
    left: 35%;
    position: absolute;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
}


#bot1{
    top: 85%;
    left: 40%;
    position: absolute;
}

#bot2{
   top: 85%;
   left: 50%;
   position: absolute;
}

#bot3{
    top: 75%;
    left: 50%;
    position: absolute;
} */